# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Streamlit
.streamlit/

# Local Environment Variables
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# FAISS local indices (if any were saved)
*.index
*.pkl
